

<footer class="fixed_footer">
  <div class="content">
    <h4>Contact Us</h4>
    <p>
      <li class="footerli">Telephone: 718-569-4894</li>
      <li>Email: adoptabunny@bunnyinc.com</li>
      <li>Address: 53 Bunnylane, Bunsville, NY 18902</li>
    </p>

      <hr>
      <p class="copyright">©Bunny Inc. 2022 All Rights Reserved by Farhana Hossain
  </div>
</footer>


           
       
        

</html>

