</main>




  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Contact Us</h6>
        </div>
        <div class="col-xs-6 col-md-3">
          <ul class="footer-links">
            <li>Telephone: 718-569-4894</li>
            <li>Email: adoptabunny@bunnyinc.com</li>
            <li>Address: 53 Bunnylane, Bunsville, NY 18902</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">©Bunny Inc. 2022 All Rights Reserved by Farhana Hossain
          </p>
        </div>

      </div>
    </div>
</footer>


</html>

