<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="/style.css" rel="stylesheet" />
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <h1>Adopt A Bunny</h1>
    </header>
    <nav>
      <div class="container teal borderYtoX">
        <a href="/rabbits">HOME</a>
        <a href="/rabbits/new">SUBMIT REQUEST</a>
        <% if (user) { %>
        <a class="active" href="/logout">LOG OUT</a>
        <% } else { %>
        <a class="active" href="/auth/google">GOOGLE LOGIN</a>
        <% } %>
      </div>
    </nav>
  </body>
  <main>

