<!DOCTYPE html>
<html>
  <head>
    <link href="/style.css" rel="stylesheet">
    <title>Rabbit Breeds</title>
  </head>
  <body>
    <h1>Adopt a Rabbit</h1>
    <a href="/rabbits/new"><button>New Breed</button></a>

    <% allBreeds.forEach((el) => { %>
      <a href="/rabbits/<%= el._id %>">
        <div>
          <td>
              Name: <%= el.breed%><br>
          </td>
          <!-- <form method="POST" action="/auth/google">
            <button>login</button>
          </form> -->
          <button>login</button>
      </div>
</a>
    <% }) %>
  </body>
</html>