<!DOCTYPE html>
<html>
  <head>
    <link href="/style.css" rel="stylesheet">
    <title>Rabbit Breeds</title>
  </head>
  <body>
    <h1>Adopt a Rabbit</h1>
    <a href="/rabbits/new"><button>New Rabbit</button></a>

    <% allRabbits.forEach((el) => { %>
      <a href="/rabbits/<%= el._id %>">
        <div>
          <td>
              Name: <%= el.name%><br>
          </td>

      </div>
</a>
    <% }) %>
  </body>
</html>