<%- include('./partials/header.ejs') %>

<h1 class="new-header">Rabbit Adoption Submission</h1>
<h3>
  As a shelter, we rely on our online community to send in any rabbits they may
  have for adoption. Our staff will review each submission and make the rabbits
  available for adoption. We thank each and every one of you for your
  contribution to the shelter.
</h3>

<form enctype="multipart/form-data" action="/rabbits" method="POST">
  Name: <input name="name" type="text" /><br />
  Description: <input name="description" type="text" /><br />
  Age: <input name="age" type="text" /><br />
  Status: <input name="status" type="text" placeholder="Pending" />
  Image:<input 
    name="Image"
    type="file"
    accept="image/png, image/jpeg"
  /><br />
  <div class="button-position">
    <input class="button" type="submit" value="Submit" />
  </div>
</form>

<%- include('./partials/footer.ejs') %>
