@import "https://fonts.googleapis.com/css?family=Raleway";

html,
.show {
  background-image: url("https://media02.stockfood.com/largepreviews/MzkzMTI1ODQ5/12681479-A-light-blue-background.jpg");
  font-family: Raleway;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.svghead {
  display: flex;
  align-items: center;
}

.linkchild {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 1080px) {
  .linkchild {
    display: none;
  }
}

header {
  height: 500px;
  text-align: center;
  background: beige;
  background-image: url("./partials.jpg");
}

.header {
  animation: glow 30s ease-in-out infinite;
  margin: 0 auto;
  justify-self: left;
  margin-left: 20px;
  font-size: 40px;
  background-image: url("./partials.jpg");
  background-size: 200px;
  background-repeat: repeat;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

div.container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5em 4em;
  /* text-align: right; */
}

div.container a {
  color: #fff;
  text-decoration: none;
  font: 20px Raleway;
  text-align: center;
  padding: 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.teal {
  background: #6495ed;
}

div.borderYtoX a:before,
div.borderYtoX a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: "";
  background: gold;
  transition: all 0.5s;
}

div.borderYtoX a:before {
  left: 0px;
  top: 0px;
}

div.borderYtoX a:after {
  right: 0px;
  bottom: 0px;
}

div.borderYtoX a:hover:before,
div.borderYtoX a:hover:after {
  opacity: 1;
  height: 1px;
  width: 100%;
}

@keyframes glow {
  from {
    text-shadow: 0 0 30px goldenrod;
  }
  to {
    text-shadow: 0 0 30px navy;
  }
}

/* link-https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: lightblue;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav #closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* link-https://codepen.io/designcouch/pen/ExvwPY */

#nav-icon3 {
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  /* z-index: 2; */
}

@media screen and (min-width: 1081px) {
  #nav-icon3 {
    display: none;
  }
}

#nav-icon3 span {
  display: block;

  height: 5px;
  width: 100%;
  background: gold;
  border-radius: 9px;
  opacity: 1;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

ul {
  list-style-type: none;
}

.parent {
  text-align: center;
  margin: auto;
  padding: 8px;
}

.intro {
  font-size: 1.25em;
  line-height: 1.55;
  margin: 0 auto;
  width: 80%;
}

.new-header {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type="text"]:focus {
  background-color: lightblue;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: cornflowerblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button-position,
.button-position2,
.button-position3 {
  text-align: center;
}

.button:hover {
  background-color: goldenrod;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
.show {
  text-align: center;
}

.modal-header {
  background-color: cornflowerblue;
}

/* 
below styling is using this link -https://codepen.io/lamchang/pen/PQGQyR */

/* GLOBAL VARIABLES */
:root {
  --font: "Raleway", sans-serif;
  --fontOrigin: 1rem;
  --fontSmall: 18px;
  --fontMedium: 22px;
  --fontNormal: 1em;
  --fontLarge: 25px;
  --fontLight: 100;
  --fontRegular: 400;
  --speed: 0.65s;
}

@keyframes zoom {
  from {
    object-position: 0 50%;
  }
  to {
    object-position: 100% 50%;
  }
}

@keyframes blur {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(2, 2);
  }
}

body {
  font-family: var(--font);
  font-weight: var(--fontOrigin);
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.005rem;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: subpixel-antialiased;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  position: relative;
  grid-area: card;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  display: block;
  width: 100%;
  max-width: 250px;
  height: 400px;
  font-size: var(--fontOrigin);
  border-radius: 20%;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  border: 6px cornflowerblue solid;
}

.card:hover {
  box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.card:hover {
  opacity: 0.6;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.card__image img {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  animation-name: zoom;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.card:hover .card__image img {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 0.5;
}

.card__header {
  display: grid;
  width: 100%;
  height: 200px;
  vertical-align: middle;
}

.card__profile {
  align-self: center;
  justify-self: center;
  display: block;
  overflow: hidden;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.card__profile img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
  filter: grayscale(50%) contrast(75%) brightness(1.3);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  mix-blend-mode: normal;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#Mushu img {
  object-position: 80%;
}

#Simba img {
  object-position: 0%;
}

#MoonMoon img {
  object-position: 90%;
}

.card:hover .card__profile img {
  -webkit-transform: scale(1, 1) translateZ(0);
  transform: scale(1.2, 1.2) translateZ(0);
}

.card__body {
  display: grid;
  padding: 15px;
}

.card__name {
  align-self: center;
  justify-self: center;
  padding-bottom: 10px;

  font-size: var(--fontLarge);
  font-weight: bold;
  letter-spacing: 0.1rem;

  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);

  background-clip: text;
  -webkit-text-fill-color: white;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__name {
  color: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__job {
  text-decoration: none;
  align-self: center;
  justify-self: center;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  text-align: center;
  letter-spacing: 0.2rem;
  color: white;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__job {
  color: rgba(100, 130, 200, 1);
}

.card__bio {
  padding: 10px;
  position: relative;
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  display: block;
  margin: 22px 0 16px 0;
  font-size: var(--fontMedium);
  font-weight: var(--fontLight);
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);
  color: white;
  opacity: 0;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__bio {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card[data-effect="color"]:hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1),
    0 40px 130px rgba(250, 100, 100, 0.2),
    -80px -40px 230px rgba(0, 200, 250, 0.15),
    80px 40px 230px rgba(120, 120, 255, 0.15);
}

.card[data-effect="color"] .card__image {
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 100, 1),
    rgba(255, 100, 100, 0.5)
  );
}

.card[data-effect="color"]:hover .card__image img {
  opacity: 0.8;
}

.card[data-effect="color"]:hover .card__profile img {
  -webkit-filter: grayscale(40%) contrast(80%) brightness(1.5);
  filter: grayscale(40%) contrast(80%) brightness(1.5);
  mix-blend-mode: normal;
}

/* link for welcome styling -https://codepen.io/dfitzy/pen/VepqMq */

#welcomecontainer {
  max-width: 80%;
  margin: 30px auto;
  position: relative;
}

.welcome {
  color: black;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 5px;
}

.icon_wrapper {
  width: 100%;
}

.icon {
  display: block;
  height: 64px;
  margin: 0 auto;
  width: 50px;
}

.message {
  float: none;
}

content {
  width: 850px;
  margin: auto;

  padding: 100px 0;
}

.flexparent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center {
  flex-grow: 1;
}
/* 
link for footer styling- https://codepen.io/madshaakansson/pen/eYdVvr */
.fixed_footer {
  width: 100%;
  height: 120px;
  background: cornflowerblue;
  text-align: center;
  /* position: fixed; */
  /* bottom: 0px; */
}
.fixed_footer p,
li {
  color: white;
  /* column-gap: 50px; */
  font-size: 1em;
  font-weight: 300;
  list-style-type: none;
}

hr {
  height: 2px;

  background-color: black;
}

.copyright {
  text-align: center;
}

/* link for card styling -https://codepen.io/alvaromontoro/pen/ebPEWb */

.carddiv {
  /* width: 480px;
  height: 270px; */
  background-color: #fff;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;

  height: max-content;
  display: flex;
  border: 2px solid red;
  max-width: 500px;
}

.carddiv,
.showname {
  text-align: center;
}

.carddiv .additional {
  /* position: absolute; */
  /* width: 150px; */

  background: lightblue;

  /* border: 1px solid blue;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2; */
}

/* .carddiv:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
} */

.carddiv .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.carddiv .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.carddiv .additional .user-card .level,
.carddiv .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.carddiv .additional .user-card .points {
  top: 85%;
}

.carddiv .additional .user-card .svg {
  top: 50%;
}

.more-info {
  display: none;
}

.carddiv .additional .more-info {
  color: #fff;
  margin-bottom: 0;
}

.additional .more-info,
.showname {
  color: black;
}
h4 {
  color: white;
}

.carddiv .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.additional .coords {
  color: #325c46;
}

.carddiv .additional .coords span + span {
  float: right;
}

.carddiv .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.additional .stats {
  color: #325c46;
}

.carddiv .additional .stats > div {
  flex: 1;
  text-align: center;
}

.carddiv .additional .stats i {
  display: block;
}

.carddiv .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.carddiv .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.carddiv .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.carddiv .general {
  height: 100%;
  /* position: absolute; */
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.carddiv .general .more {
  /* position: absolute; */
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.svg {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* modal styling - https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */

.modal {
  display: none;

  z-index: 1;
  /* padding-top: 100px; */
  padding: 10px 10px 10px 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: lightblue; /* Fallback color */
  /* background-color: rgba(0, 0, 0, 0.4); Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid cornflowerblue;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modelbuttonopen {
  margin: 0 auto;
  display: block;
}

.readybtn {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* .centerpage {
  width: 100%;
  text-align: center;
} */
